<turbo-frame id="<%= dom_id(@tender_line_item) %>">
  <div class="card bg-white border border-gray-200 mb-4">
    <div class="card-body p-4">
      <h3 class="card-title text-lg mb-4">Edit Line Item</h3>
      <%= render "form", tender: @tender, line_item: @tender_line_item %>
    </div>
  </div>
</turbo-frame>
