<% content_for :title, "Editing Anchor Rate" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Editing Anchor Rate</h1>

  <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-200">
    <%= render "form", anchor_rate: @anchor_rate %>
  </div>
</div>