<% content_for :content do %>
  <%= yield %>
  
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 mt-12 mb-20">
    <%= render 'shared/blog_cta' %>
  </div>
<% end %>
<%= render template: "layouts/application" %>