<% content_for :title, "Crane rates" %>

<div class="w-full max-w-6xl">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl">Crane rates</h1>
    <% if policy(CraneRate).new? %>
      <%= link_to "Add Crane Rate", new_crane_rate_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @crane_rates.any? %>
    <div class="flex gap-4 mb-2 text-sm font-semibold text-gray-600" style="padding-left: 25px; padding-right: 25px;">
      <div class="flex-1">Crane size</div>
      <div class="flex-1">RSB Owned / Rental</div>
      <div class="flex-1">Dry Rate / Day (9 hours)</div>
      <div class="flex-1">Diesel Allowance / Day</div>
      <div class="flex-1">All Inclusive Rate per Day</div>
      <% if policy(CraneRate).edit? %>
        <div class="w-20"></div> <!-- Placeholder for actions -->
      <% end %>
    </div>
    <div id="crane_rates_list" class="space-y-6">
      <%= render @crane_rates %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <span>No crane rates found. 
        <% if policy(CraneRate).new? %>
          <%= link_to "Create one", new_crane_rate_path, class: "link" %>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
