<% content_for :title, "Editing on site mobile crane breakdown" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing on site mobile crane breakdown</h1>

  <%= render "form", on_site_mobile_crane_breakdown: @on_site_mobile_crane_breakdown %>

  <%= link_to "Show this on site mobile crane breakdown", @on_site_mobile_crane_breakdown, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to on site mobile crane breakdowns", on_site_mobile_crane_breakdowns_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
