<% content_for :title, "Tender Crane Selection" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-6 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tender Crane Selection</h1>
    <%= link_to "Back", tender_crane_selections_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>

  <!-- Turbo Frame for inline editing updates -->
  <%= turbo_frame_tag dom_id(@tender_crane_selection), target: true do %>
    <%= render @tender_crane_selection %>
  <% end %>
</div>
