<div id="<%= dom_id client %>" class="w-full sm:w-auto my-5 space-y-2">
  <div>
    <strong class="block font-medium">Business name:</strong>
    <%= client.business_name %>
  </div>
  <% if client.primary_contact %>
    <div>
      <strong class="block font-medium">Primary Contact:</strong>
      <%= client.primary_contact.name %> 
      <% if client.primary_contact.email.present? %>
        (<%= client.primary_contact.email %>)
      <% end %>
    </div>
  <% end %>
</div>
