<div class="toast toast-bottom toast-end" style="z-index: 9999;" data-controller="toast-dismiss">
  <div class="alert <%= type == 'success' ? 'alert-success' : type == 'error' ? 'alert-error' : 'alert-info' %>">
    <span><%= message %></span>
  </div>
</div>
