<div id="<%= dom_id section_category_template %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Section category:</strong>
    <%= section_category_template.section_category.display_name %>
  </div>
</div>
